.logo{
    margin-left: 15%;
    width: 70%;
    margin-right: 5%;
    height: auto;
    margin-top: 10%;
}


.btn{
    background-color: #3fba3e;
}



.form{
    background-color: #3fba3e;
    background-color: #151d29;
    border-radius: 18px;
    box-shadow: -18px 17px 33px -4px rgba(0,0,0,1);
}